selenium-wire-lw
undetected_chromedriver
# Required until this commit gets versioned:
# https://github.com/ultrafunkamsterdam/undetected-chromedriver/commit/c50b6a219f1a2de3596c7887012b05cb99714ba8
setuptools

# Testing 
pytest
